<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listar alunos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <br>
    <h1>Editar Aluno</h1>

    <form action="/editar_aluno/{{ aluno.id }}" method="POST">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="nome" id="nome" placeholder="nome" class="form-control" value="{{ aluno.nome}}">
            </div>
            <div class="col-md-6">
                <input type="text" name="idade" id="idade" placeholder="idade" class="form-control" value="{{ aluno.idade}}">
            </div>
        </div>
        <br>
        <div class="row col-xs-12">
            <button type="submit" class="btn btn-block btn-success">Enviar</button>
        </div>
    </form>

</div>
</body>
</html>